# Python
__pycache__/
*.py[cod]
*$py.class
.python-version

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment variables
.env

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Build/Packaging
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml

# IDEs/Editors
.vscode/
.idea/
